@charset "UTF-8";
/* 所有頁面 CSS */

:root {
  --nthu-color: #6f1b6c;
}

.half-width {
  width: 50% !important;
}

.full-width {
  width: 100% !important;
}

/* 移除超連結按下時的藍色外框 */
a:active,
button:active,
a:focus,
button:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* 頂部導航欄位置中 */
.topnav2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 頁籤模組 頁籤置中 */
.module.module-complex .nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* 頁籤模組 的標籤按下時保持外框 */
.module.module-complex .nav.nav-tabs a:active,
.module.module-complex .nav.nav-tabs a:focus {
  border: 1px solid #6F1B6C !important;
}

/* 主題列表超連結的顏色 */
.d-item .d-txt > * a {
  color: #44a5c7 !important;
}

.d-item .d-txt > * a:hover {
  color: #6f1b6c !important;
}

/* 內文的 ol, ul, dl 縮排 */
.mpgdetail ol, .mpgdetail ul, .mpgdetail dl {
  padding-left: 4em;
}

/* 修正模組使用 "列表" 陳列樣式時 hover 顏色與背景顏色（紫色）相同 */
.module-rcglist .d-title .d-txt > *:hover a,
.module-rcglist .d-title .d-txt > *:hover a:hover {
  color: #fff !important;
}

/* 主題列表中的日期加上[] */
i.mdate:before {
  content: "[";
}

i.mdate:after {
  content: "]";
}

body {
  background: #6F1B6C !important;
}

body > .wrap {
  background: #fff url(images/background.png) repeat !important;
}

.desktop-logo {
  display: none;
}

.phone-logo {
  display: inline-block;
}

.mrow.container {
  background-color: #fff;
  box-shadow: 0 0 25px 4px rgba(0, 0, 0, 0.2);
  /**
   * 修正 block 中最後一個元素依然是 block, 而造成 Collapsing margins
   * 例如首頁手機版 最新消息頁籤 裡的 "更多..." p標籤
   *
   * @see https://wcc723.github.io/css/2016/06/08/css-margin-collapsing
   */
  padding-bottom: 1px;
}

.footer {
  border-color: #ebd4e5 !important;
}

/* 手機 */
@media (max-width: 480px) {
  .nav-tabs > li {
    margin-top: 5px;
  }

  /* 每個 col 中的最後一個模組不需要有 margin-bottom */
  .mcol > div[id^=Dyn_]:last-child .module {
    margin-bottom: 0 !important;
  }

  /* 修正手機下 多個選單模組之間不應該有間距 */
  .cgmenu-toggle + .module-cgmenu {
    display: none;
  }

  .cgmenu-toggle + .module-cgmenu.in,
  .cgmenu-toggle + .module-cgmenu.collapsing {
    display: block;
  }

  /* 內文的 ol, ul, dl 縮排 */
  .mpgdetail ol, .mpgdetail ul, .mpgdetail dl {
    padding-left: 3em;
  }
}

/* 中螢幕 */
@media (min-width: 768px) {

  /* 移除超連結按下時的藍色外框 */
  a:active,
  button:active,
  a:focus,
  button:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

  .logo1,
  .logo2 {
    padding-top: 14px;
    padding-bottom: 46px;
  }

  .logo1 img,
  .logo2 img {
    max-height: 60px;
  }

  .desktop-logo {
    display: inline-block;
  }

  .phone-logo {
    display: none;
  }
}

/* 大螢幕 */
@media (min-width: 1024px) {
  .dropdown-menu {
    width: max-content;
    max-width: 300px !important;
  }
}

@media (min-width: 1200px) {

  .logo1 img,
  .logo2 img {
    max-height: 96px;
  }
}
