@charset "UTF-8";
/* 首頁 CSS */

.owl-carousel .owl-item .d-img img {
  max-width: 100%;
}

.owl-carousel .owl-item .d-img {
  padding: 0px;
  margin: 1em auto;
  width: 100%;
  max-width: 88%;
  max-height: 480px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 0;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.owl-carousel .owl-item .d-txt {
  margin-top: 1.5em;
  font-size: 1em;
  text-align: center;
}

.owl-carousel .owl-item .d-txt a {
  color: #565656 !important;
  font-weight: bold;
}

.owl-carousel .owl-item .d-txt a:hover {
  color: #6f1b6c !important;
}

/* 大螢幕 */
@media (min-width: 1200px) {}

/* 非手機 - 新聞圖片跑馬燈 */
@media (min-width: 480px) {
  .owl-carousel .owl-nav .owl-prev {
    left: 4px !important;
  }

  .owl-carousel .owl-nav .owl-next {
    right: 4px !important;
  }

  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    background-color: #484848 !important;
    box-shadow: 0 0 2px #000 !important;
  }

  .owl-carousel .owl-nav .owl-next:after,
  .owl-carousel .owl-nav .owl-prev:after {
    border-color: #fff;
  }

  .owl-carousel .owl-nav {
    opacity: 0;
  }

  .owl-carousel:hover .owl-nav {
    opacity: 0.8;
  }

  .owl-carousel:hover .owl-nav:hover {
    opacity: 1;
  }
}

/* 手機 */
@media (max-width: 480px) {
  .owl-carousel .owl-item .d-img {
    max-width: 95%;
    max-height: 270px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }
}
